html {
    background-color: #c9b5ab;
    font-family: 'PT Serif', serif;
    font-size: 0.8rem;
}

a {
  color: #8f2440;
}

.sansserif {
  font-family: 'PT Sans', sans-serif;
}

.blacklinks {
  color: #222;
}

h1 {
  color: #3f1622;
  font-family: 'PT Sans', sans-serif;
}

h2 {
  color: #3f1622;
  font-family: 'PT Sans', sans-serif;
}

.test {
  font-size: 1.125;
  font-weight: bold;
}

blockquote {
  font-size: 1.5rem;
}

blockquote cite {
  font-size: 0.8rem;
}
